<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Robot in your Kitchen</title>
        <link rel="stylesheet" href="../static/style.css">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    </head>
    <body>
        <div id="nav">
            <h5>title</h5>
        </div>
        <form>
            <input type="image" id="bot_status">
        </form>

        <form method="get, post">
            <input type="button" id="btn_playbot" value="실행하기">
        </form>

    </body>

</html>