<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Robot in your Kitchen</title>
        <link rel="stylesheet" href="../static/style.css">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="video">
                    <img src="{{ url_for('video_feed') }}" width="80%">
                </div>
                <div class="sidebar">
                    <div class="user_status">
                        <h3>User Information</h3>
                        <li>username : user001</li>
                        <li>device info : RoKi</li>
                    </div>
                    <div class="device_state">
                        <h3>Device State</h3>
                        <svg></svg>
                    </div>
                    <div class="mode_change">
                        <h3>Activation Mode</h3>
                        <form>
                            <input type="button" name="manual" value="manual" alt="manual mode button">
                            <input type="button" name="auto" value="auto" alt="auto mode button">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </body>

</html>