<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Robot in your Kitchen</title>
        <link rel="stylesheet" href="../static/style.css">
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="video">
                    <img src="{{ url_for('video_feed') }}" width="80%">
                </div>
                <div class="sidebar">
                    <div>사용자명</div>
                    <div>기기 이름</div>
                    <div>작동여부</div>
                    <div>수동전환</div>
                </div>
            </div>
        </div>
        </body>

</html>